<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">parom</property>
        <property name="connection.password">parom</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="hibernate.hbm2ddl.auto">validate</property>
<!--        <property name="hibernate.connection.isolation">8</property>-->

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region_prefix.factory"></property>

        <!--        second var mapping entity for Hibernate-->
        <!--        <mapping class="com.dmdev.entity.User"/>-->
        <!--        <mapping class="com.dmdev.entity.Company"/>-->
        <mapping class="com.dmdev.entity.onetomany.Company"/>
        <mapping class="com.dmdev.entity.onetomany.User"/>
        <mapping class="com.dmdev.entity.onetoone.Profile"/>
        <mapping class="com.dmdev.entity.manytomany.Chat"/>
        <mapping class="com.dmdev.entity.manytomany.UserChat"/>
        <mapping class="com.dmdev.entity.tableperclass.Programmer"/>
        <mapping class="com.dmdev.entity.tableperclass.Manager"/>
        <mapping class="com.dmdev.entity.onetomany.Payment"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
        

    </session-factory>
</hibernate-configuration>